.App {
  text-align: center;
}
.main{
  /* display: flex;
  border: 2px solid black;
  align-items: center;
  width: 57%;
  margin: auto;
  padding: 20px;
  justify-content: space-around; */

  border: 2px solid black;
    align-items: center;
    width: 57%;
    margin: auto;
    padding: 20px;
}
/* .card{
  display: flex;
} */
img{
  height: 115px;
}

