*{
    text-align: center;
    color: white;
}
.full{
    height: 2057px;
}
body, html {
    background-image: url("img.jpg");
    /* background-size: 100%; */
    background-repeat: no-repeat;
    background-position: top;
  }
p{
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    margin: 23px auto;
    width: 245px;
    text-align: left;
    padding-left: 17px;

}
.rules{
    border: 2px solid red;
    text-align: left;
    position: relative;
    width: 300px;
}

.head{
    font-size: 50px;
    color: #a3ee94;;
    text-decoration: underline;
    
}
.ques{
    background: radial-gradient(transparent,rgb(82, 80, 80));
    border: 15px solid white;
    width: 1028px;
    border-radius: 19px;
    margin: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: -6px;
    font-size: 25px;
    height: 1754px;
    
}

.q{
    color: #ffc21f;
}
#btn{
    color: red;
    font-size: xx-large;
    background-color: #ffc21f;
    cursor: pointer;
    padding: 10px;
    border-radius: 20px;
}
em{
    border: 2px solid wheat;
    padding: 5px;
    font-size: 17px;
}
strong{
    color: red;
    height: 21px;
    font-size: 21px;
    margin-left: 50px;
}