body{
    background: rgb(223, 200, 101);
    border: 10px dashed brown;
    color: brown;
}
h1,p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-size: x-large;
    color: rgb(73 87 230);
}
#game{
    text-align: center;
}
img{
    height: 200px;
    width: 160px;
    border-radius: 15px;
}
#first,#second{
    padding-inline: 20px ;
}
#part1{
    padding-top: 0px;
}
#part2{
    padding-top: 40px;
    padding-bottom: 27px;
}
